/* .card {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  width: 600px;
  height: 600px;
} */
/* .snowdrop i {
  font-size: 200px;
  color: white;
} */
